body {
    font-size: 125%;
    background-color: rgb(36, 36, 36);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.baner {
    background-color: rgb(50, 50, 50);
    margin:auto;
    display: block;
    margin-bottom: 50px;
}

.button {
    display: flex;
    background-color: rgb(70, 70, 70);
    color: white;
    border: 2px solid white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
    font-family: monospace;
    justify-content: center;
    align-items: center;
}

.button:focus{background-color:rgb(35, 24, 131);}

.button:hover {
    background-color: white;
    color: black;
}

.reader {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    text-align: center;
    display: block;
  }

/*
.mainbuttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 823px;
    max-width: 50%;
    font-size: larger;
    margin-bottom: 5px;
}
.navbuttons {
    display: block;
    width: 409px;
    font-size: larger;
    margin-bottom: 5px;
}
*/
.footer {
    margin-top: 50px;
    display: block;
    background-color: rgb(50, 50, 50);
}
main
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
}
nav{
    grid-column: 2;
}
section.okienko
{
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "licznik licznik licznik"
      "przyciski przyciski przyciski"
      "dol dol dol";
    border: 3px violet solid;
}
section.plansza
{
    display: flex;
    flex-wrap:wrap;
    background-color: brown;
}
section.plansza > *
{
    margin: 5px;
}
div.razem
{
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    background-color: green;
}
  #licznik
  {
    grid-area: licznik;
  }
  .przyciski
  {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". .";
    grid-area: przyciski;
  }

  #lewo
  {
    grid-area: przyciski;
    grid-column: 1;
    grid-row: 1;
    height: inherit;
  }
  #prawo
  {
    height: inherit;
    grid-area: przyciski;
    grid-row: 1;
    grid-column: 2;

  }
  .dol
  {
    grid-row:3;
  }
