body {
    font-size: 125%;
    background-color: rgb(36, 36, 36);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.baner {
    background-color: rgb(50, 50, 50);
    margin:auto;
    display: block;
}

.button {
    background-color: rgb(70, 70, 70);
    color: white;
    border: 2px solid white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 5px;
    font-family: monospace;
    justify-content: center;
    align-items: center;
}

.button:focus{background-color:rgb(35, 24, 131);}

.button:hover {
    background-color: white;
    color: black;
}

.reader {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    text-align: center;
    display: block;
  }

.changelog-container {
  overflow: hidden;
  display: block;
  background-color: rgb(50, 50, 50);
  margin-bottom: 50px;
  padding: 15px;
}

@keyframes slide {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.changelog {
  color: yellowgreen;
  text-align: center;
  animation: slide 30s linear infinite;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.changelog p {
  display: inline;
  padding-right: 200px;
}

.navbuttons {
    font-size: x-large;
}

.footer {
    margin-top: 50px;
    display: block;
    background-color: rgb(50, 50, 50);
    padding: 15px;
    text-align: center;
  }
  .footer a {
    text-decoration: none;
    color: yellowgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main
{
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    margin-right: 100px;
}
nav{
    grid-column: 2;
}
section.okienko
{
    height: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "licznik licznik licznik"
      "przyciski przyciski przyciski"
      "dol dol dol";
    border: 1px white solid;
    background-color: rgb(50, 50, 50);
}
section.plansza
{
  display: flex;
  flex-wrap:wrap;
  background-color: rgb(50, 50, 50);
  border: 1px white solid;
  overflow: auto;
  max-height: 600px;
}
section.plansza > input
{
    margin: 5px;
    width: 100%;
    height: 100%;
}

.razem
{
  border: 3px yellowgreen solid;
}

  #licznik
  {
    grid-area: licznik;
  }
  .przyciski
  {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". .";
    grid-area: przyciski;
  }

  #lewo
  {
    grid-area: przyciski;
    grid-column: 1;
    grid-row: 1;
    height: inherit;
  }
  #prawo
  {
    height: inherit;
    grid-area: przyciski;
    grid-row: 1;
    grid-column: 2;

  }
  .dol
  {
    grid-row:3;
  }
